.ws {
	font-size: 1.4em;
	font-family: "Sarasa Mono CL Nerd Font";
	margin: .3em .3em .3em .3em;
	padding: 0 .5em;
	border-radius: 10px;
	// border: 2px solid $lighter-background;
	// background-color: $background-secondary;

  button {
    margin: .5em .7em;
    //color: $darker-background;
    text-shadow: 1px 1px 0px lighten(#32393b, 5), -1px 1px 0px lighten(#32393b, 5), 1px -1px 0px lighten(#32393b, 5), -1px -1px 0px lighten(#32393b, 5), 0px 1px 0px lighten(#32393b, 5), 1px 0px 0px lighten(#32393b, 5), 0px -1px 0px lighten(#32393b, 5), -1px 0px 0px lighten(#32393b, 5);
  }

  .occupied {
    text-shadow: 1px 1px 0px #bfc9db, -1px 1px 0px #bfc9db, 1px -1px 0px #bfc9db, -1px -1px 0px #bfc9db, 0px 1px 0px #bfc9db, 1px 0px 0px #bfc9db, 0px -1px 0px #bfc9db, -1px 0px 0px #bfc9db;
  }

  .focused {
		//color: #b7b8b8;
    text-shadow: none;
    //text-shadow: 1px 1px 0px #000, -1px 1px 0px #bfc9db, 1px -1px 0px #bfc9db, -1px -1px 0px #bfc9db, 0px 1px 0px #bfc9db, 1px 0px 0px #bfc9db, 0px -1px 0px #bfc9db, -1px 0px 0px #bfc9db;
  }

  .r {
		//color: #b7b8b8;
    text-shadow: none;
  }

  .r.focused {
    //color: $darker-background;
    text-shadow: 1px 1px 0px #bfc9db, -1px 1px 0px #bfc9db, 1px -1px 0px #bfc9db, -1px -1px 0px #bfc9db, 0px 1px 0px #bfc9db, 1px 0px 0px #bfc9db, 0px -1px 0px #bfc9db, -1px 0px 0px #bfc9db;
  }
}
